<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="/static/style.css"/>
        <script src="/static/script.js"></script>
        <title>Player Stats</title>
    </head>
    <body>
        <h1>Player Stats</h1>
        <table id="top-batters">
            <thead>
                <tr>
                    <th style="width: 20px;">Rk</th>
                    <th style="width: 180px;">Player</th>
                    <th style="width: 30px;">Age</th>
                    <th style="width: 40px;">Team</th>
                    <th style="width: 30px;">LG</th>
                    <th style="width: 40px;">WAR</th>
                    <th style="width: 40px;">G</th>
                    <th style="width: 40px;">PA</th>
                    <th style="width: 40px;">AB</th>
                    <th style="width: 40px;">R</th>
                    <th style="width: 40px;">H</th>
                    <th style="width: 40px;">2B</th>
                    <th style="width: 40px;">3B</th>
                    <th style="width: 40px;">HR</th>
                    <th style="width: 40px;">RBI</th>
                    <th style="width: 40px;">SB</th>
                    <th style="width: 40px;">CS</th>
                    <th style="width: 40px;">BB</th>
                    <th style="width: 40px;">SO</th>
                    <th style="width: 50px;">BA</th>
                    <th style="width: 50px;">OBP</th>
                    <th style="width: 50px;">SLG</th>
                    <th style="width: 50px;">OPS</th>
                    <th style="width: 50px;">OPS+</th>
                    <th style="width: 50px;">rOBA</th>
                    <th style="width: 50px;">Rbat+</th>
                    <th style="width: 40px;">TB</th>
                    <th style="width: 40px;">GIDP</th>
                    <th style="width: 40px;">HBP</th>
                    <th style="width: 40px;">SH</th>
                    <th style="width: 40px;">SF</th>
                    <th style="width: 40px;">IBB</th>
                    <th style="width: 60px;">Pos</th>
                    <th style="width: 80px;">Awards</th>
                </tr>
            </thead>
            <tr>
                <td id="rank">1</td>
                <td id="player">Rafael Devers*</td>
                <td id="age">28</td>
                <td id="team">2TM</td>
                <td id="lg">2LG</td>
                <td id="war">2.2</td>
                <td id="g">103</td>
                <td id="pa">465</td>
                <td id="ab">382</td>
                <td id="r">59</td>
                <td id="h">99</td>
                <td id="doubles">25</td>
                <td id="triples">0</td>
                <td id="hr">17</td>
                <td id="rbi">69</td>
                <td id="sb">1</td>
                <td id="cs">1</td>
                <td id="bb">74</td>
                <td id="so">116</td>
                <td id="ba">.259</td>
                <td id="obp">.383</td>
                <td id="slg">.458</td>
                <td id="ops">.841</td>
                <td id="opsplus">136</td>
                <td id="roba">.365</td>
                <td id="rbatplus">137</td>
                <td id="tb">175</td>
                <td id="gidp">10</td>
                <td id="hbp">5</td>
                <td id="sh">0</td>
                <td id="sf">4</td>
                <td id="ibb">8</td>
                <td id="pos">*D/3</td>
                <td id="awards"></td>
            </tr>
        </table>
    </body>
</html>